src/datesource.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">                    
   <xs:element name="datesource">
     <xs:complexType>
		<xs:sequence>
			<xs:element name="driverClass" type="xs:string"/>
			<xs:element name="jdbcUrl" type="xs:string"/>
			<xs:element name="user" type="xs:string"/>
			<xs:element name="password" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
   </xs:element>
</xs:schema>


